*{
    margin:0;
    padding:0;
    font-family:Arial, sans-serif;
}

header{
    width:100%;
    height:60vh;
    background:#111;
    color:white;
    display:flex;
    flex-direction:column;
}

nav{
    display:flex;
    justify-content:space-between;
    padding:20px 50px;
}

.logo{
    font-size:28px;
    font-weight:bold;
}

.nav-links{
    list-style:none;
    display:flex;
    gap:20px;
}

.nav-links li a{
    color:white;
    text-decoration:none;
    font-size:16px;
}

.hero{
    margin:auto;
    text-align:center;
}

.hero h1 span{
    color:#4da3ff;
}

section{
    padding:50px;
    text-align:center;
}

.about-container{
    display:flex;
    justify-content:center;
    gap:30px;
    align-items:center;
    margin-top:20px;
}

.about-container img{
    width:180px;
    border-radius:10px;
}

#skills ul{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:15px;
}

#skills ul li{
    background:#4da3ff;
    padding:10px 18px;
    color:white;
    border-radius:5px;
}

.project-card{
    width:250px;
    margin:20px auto;
    text-align:center;
}

.project-card img{
    width:100%;
    border-radius:10px;
}

.btn{
    padding:10px 20px;
    background:#4da3ff;
    color:white;
    text-decoration:none;
    border-radius:5px;
}

footer{
    background:#111;
    color:white;
    padding:15px;
}
